body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#e8f5e9;
}

.container{
    width:70%;
    margin:auto;
    text-align:center;
    padding-top:50px;
    background:#edf7ed;
    min-height:100vh;
}

h1{
    color:#2e7d32;
    font-size:70px;
    margin-top:50px;
}

p{
    font-size:24px;
    color:#333;
    margin-top:20px;
}

.upload-form{
    margin-top:60px;
}

input[type="file"]{
    display:none;
}

.custom-file-upload{
    display:inline-block;
    padding:18px 35px;
    cursor:pointer;
    background:#66bb6a;
    color:white;
    border-radius:12px;
    font-size:24px;
    margin-right:20px;
    transition:0.3s;
}

.custom-file-upload:hover{
    background:#43a047;
}

button{
    padding:18px 35px;
    background:#2e7d32;
    color:white;
    border:none;
    border-radius:12px;
    font-size:24px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1b5e20;
}

.result-box{
    margin-top:60px;
    background:white;
    padding:30px;
    border-radius:20px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0px 4px 15px rgba(0,0,0,0.1);
}

img{
    width:350px;
    border-radius:15px;
    margin-top:20px;
}

h2{
    color:#1b5e20;
    margin-top:30px;
    font-size:32px;
}